body {
  color: #000000;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0;
}

.header-title {
  color: #005fa3;
  font-family: "Merriweather";
  font-size: 36px;
  font-weight: 900;
  line-height: 138%;
}

.header-contact-link {
  text-decoration: none;
}

.header-contact-text {
  color: #000000;
  font-size: 13px;
  line-height: 132%;
}

.header-nav-link {
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.desc-section {
  /* background-color: #000000; */
  background-image: url(../img/first-screen-bkg.jpg);
}

.desc-title {
  color: #ffffff;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 700;
  line-height: 138%;
}

.desc-link {
  color: #ffffff;
  background: #005fa3;
  text-decoration: none;
  font-size: 25px;
  line-height: 138%;
}

.gray-section {
  background: #ebebeb;
}

.section-title {
  color: #bdbdbd;
  font-size: 24px;
  font-weight: 900;
  line-height: 138%;
}

.section-sub-title {
  color: #333333;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
  line-height: 144%;
}

.services-item-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 900;
  line-height: 126%;
}

.services-item-link {
  text-decoration: none;
  background-color: #000000;
  background-image: url(../img/second-screen-bkg.jpg);
}

.about-us-additional-color {
  color: #005fa3;
}

.about-us-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 138%;
}

.about-us-item {
  background: #ebebeb;
}

.about-us-item-title {
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.about-us-item-desc {
  font-size: 14px;
  font-weight: 700;
  line-height: 132%;
}

.about-us-item-link {
  font-size: 14px;
  font-weight: 700;
}

.review-button {
  background-color: #005fa3;
  color: #ffffff;
  border: none;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 138%;
}

.review-item {
  background: #ebebeb;
}

.review-item-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 138%;
}

.review-item-desc {
  color: #4f4f4f;
  font-size: 14px;
  line-height: 138%;
}

.review-autor {
  font-size: 18px;
  font-weight: 900;
  line-height: 138%;
}

.slider-button-prev,
.slider-button-next {
  background-color: #005fa3;
  border: none;
}

.review-page {
  background-color: #005fa3;
  border: none;
  border-radius: 100%;
}

.advantages-item-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 132%;
}

.footer-section {
  background-color: #000000;
  background-image: url(../img/first-screen-bkg.jpg);
}

.footer-title {
  color: #ffffff;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
  line-height: 144%;
}

.footer-desc {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 138%;
}

.footer-item-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  font-weight: 300;
  line-height: 138%;
}

.deep-footer-first {
  font-size: 14px;
  font-weight: 300;
  line-height: 138%;
}

.deep-footer-second {
  font-size: 14px;
  font-weight: 300;
  line-height: 138%;
}
